# No build/chache files
*.o
*.vscode
*.DS_Store
*.code-workspace

# No temporary files
*tmp*

# No executables
r-type_server
r-type_client
rtype

# No build files
bootstrap
build/*

# No editor config files
.vscode
