# No build/cache files
*.o
*.vscode
*.DS_Store
*.code-workspace
Makefile
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake

# No temporary files
*tmp*

# No executables
r-type_server
r-type_client
rtype
rtype_gui
rtype_server

# No build files
bootstrap
bin/*
build/*
_deps/*
dist/*
gui/_deps/*
server/_deps/*

# No editor config files
.vscode
