# No build/cache files
*.o
*.vscode
*.DS_Store
*.code-workspace
CMakeCache.txt
CMakeFiles/**

# No temporary files
*tmp*

# No executables
r-type_server
r-type_client
rtype

# No build files
bootstrap
build/*

# No editor config files
.vscode
